
/Documentation/html
/Source/xfx_core/gui/Build/VC90/Debug
/Source/xfx_core/lua/Build/VC90/Debug
/Source/xfx_core/main/Build/VC90/Debug
/Source/xfx_core/math/Build/VC90/Debug
/Source/xfx_core/python/Build/VC90/Debug
/Source/xfx_core/renderer/Build/VC90/Debug
/Source/xfx_core/renderer_ext/Build/VC90/Debug
/Source/xfx_core/serialization/Build/VC90/Debug
/Source/xfx_core/test/Build/VC90/Debug
/Source/xfx_core/utility/Build/VC90/Debug
/Source/xfx_core/gui/Build/VC90/Release
/Source/xfx_core/lua/Build/VC90/Release
/Source/xfx_core/main/Build/VC90/Release
/Source/xfx_core/math/Build/VC90/Release
/Source/xfx_core/python/Build/VC90/Release
/Source/xfx_core/renderer/Build/VC90/Release
/Source/xfx_core/renderer_ext/Build/VC90/Release
/Source/xfx_core/serialization/Build/VC90/Release
/Source/xfx_core/test/Build/VC90/Release
/Source/xfx_core/utility/Build/VC90/Release
/Source/xfx_core/gui/Build/VC90/Shipping
/Source/xfx_core/lua/Build/VC90/Shipping
/Source/xfx_core/main/Build/VC90/Shipping
/Source/xfx_core/math/Build/VC90/Shipping
/Source/xfx_core/python/Build/VC90/Shipping
/Source/xfx_core/renderer/Build/VC90/Shipping
/Source/xfx_core/renderer_ext/Build/VC90/Shipping
/Source/xfx_core/serialization/Build/VC90/Shipping
/Source/xfx_core/test/Build/VC90/Shipping
/Source/xfx_core/utility/Build/VC90/Shipping
/Source/xfx_core/main/xfx_engine_ver.cpp
/Source/xfx_core/python/generated
/Tools/Bin/Tests/xfx_test_debug.exe
/Tools/Bin/Tests/FileData/dir1/file3.txt
/Tools/Bin/Tests/pack1.pack
/Source/xfx_core/test/Build/VC90/Shipping
/Tools/Bin/Tests/xfx_test.exe
/Source/third_party/boost_1_44_0/bin.v2
/Source/third_party/boost_1_44_0/build/VC90/Debug
/Source/third_party/cegui-0.6.1/makefiles/VC90/BaseSystem/obj
/Source/third_party/cegui-0.6.1/makefiles/VC90/ScriptingModules/CEGUILua/LuaScriptModule/obj
/Source/third_party/cegui-0.6.1/makefiles/VC90/WindowRendererSets/Falagard/obj
/Source/third_party/cegui-0.6.1/makefiles/VC90/XMLParserModules/expatParser/obj
/Source/third_party/cegui-0.6.1/makefiles/VC90/ScriptingModules/CEGUILua/tolua++/obj
/Source/third_party/jpeg-6b/vc90/jpeg-6b/Release
/Source/third_party/jpeg-6b/vc90/jpeg-6b/Debug
/Source/third_party/expat-2.0.1/lib/win32/tmp
/Source/third_party/freetype-2.3.7/objs/debug
/Source/third_party/freetype-2.3.7/objs/release
/Source/third_party/lua-5.0.2/src/core/Release
/Source/third_party/lua-5.0.2/src/core/Debug
/Source/third_party/lua-5.0.2/src/lib/Release
/Source/third_party/lua-5.0.2/src/lib/Debug
/Source/third_party/luabind/vc90/luabind/Release
/Source/third_party/luabind/vc90/luabind/Debug
/Source/third_party/python-2.7/PCbuild/Win32-temp-Debug
/Source/third_party/python-2.7/PCbuild/Win32-temp-Release
/Source/third_party/python-2.7/PCbuild/getbuildinfo.o
/Source/xfx_core/python_dll/Build/VC90/Debug
/Source/third_party/pcre-7.7/build/vc90/pcre/Release
/Source/third_party/pcre-7.7/build/vc90/pcre/Debug
/Source/xfx_core/python_dll/Build/VC90/Release
/Source/xfx_core/python_dll/Build/VC90/Shipping
/Source/third_party/pygccxml-1.0.0/unittests
/Source/third_party/pygccxml-1.0.0/docs
/Source/third_party/boost_1_44_0/build/VC90/Release
/Source/third_party/boost_1_44_0/build/VC90/Debug
/Source/third_party/boost_1_58_0/bin.v2

/Build/VC90/*.sdf
